API_PROXY_TARGET=http://localhost:3001
NEXT_PUBLIC_WHATSAPP_NUMBER=+8801799854465
JWT_ACCESS_SECRET=
REVALIDATE_SECRET=
NEXT_PUBLIC_META_PIXEL_ID=
NEXT_PUBLIC_GA4_ID=G-
NEXT_PUBLIC_SITE_URL=https://www.minanclothing.com
NEXT_PUBLIC_FACEBOOK_PAGE_URL=https://www.facebook.com/minanclothing
